/* wordChoice displayed, with spacing
*/
#guessStatus {
    letter-spacing: 4px;
}

.container {
    margin-top: 50px;
}

body {
    background-image: url("../images/PalletTown.png");
    }

div {
    background-color: rgba(128, 216, 160, 0.0);
    font-weight: thicker;
    color: yellow;
    text-shadow: 3px 1px blue;
    font-size: 20px;
}