/* wordChoice displayed, with spacing
*/
#guessStatus {
    letter-spacing: 4px;
}

.container {
    margin-top: 50px;
}

body {
    background-image: url("../images/PalletTown.png");
    }

div {
    background-color: white;
}